/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    padding: 10px;
}

/* HEADER */
header {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* alterei para column e quando for desktop fica row*/
/* MENU SEMPRE VISÍVEL */
nav {
    display: none;
    flex-direction: column;
    gap: 20px;

}

nav a {
    color: white;
    text-decoration: none;
}

/* alterações - display: none para block */
/* ESCONDE MENU MOBILE */
.menu-toggle {
    display: block;
}



/* HERO */
.hero {
    background: #666;
    color: white;
    padding: 60px;
    text-align: center;
    margin-top: 10px;
}

/* alterações - flex-direcion: row para column */
/* CONTAINER EM LINHA */
.container {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}



/* BOX */
.box {
    background: white;
    padding: 30px;
    text-align: center;
    flex: 1;
}

/* alterações - display: block para none */
/* TEXTO SEMPRE VISÍVEL */
.box p {
    display: none;
}



/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}



@media (min-width: 480px) {
    .box p {
        display: block;
    }
    .container {
        flex-direction: row;
        display: flex;
    }
        .menu-toggle {
        display: none;
    }
        nav {
        display: block;
        flex-direction: row;
    }
}